@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    :root {
      --background: 4 0% 100%;
      --foreground: 4 0% 10%;

      --card: 4 0% 100%;
      --card-foreground: 4 0% 15%;

      --popover: 4 0% 100%;
      --popover-foreground: 4 95% 10%;

      --primary: 4 81.2% 45.9%;
      --primary-foreground: 0 0% 100%;

      --secondary: 4 10% 90%;
      --secondary-foreground: 0 0% 0%;

      --muted: -34 10% 95%;
      --muted-foreground: 4 0% 40%;

      --accent: -34 10% 90%;
      --accent-foreground: 4 0% 15%;

      --destructive: 0 50% 50%;
      --destructive-foreground: 4 0% 100%;

      --border: 4 20% 82%;
      --input: 4 20% 50%;
      --ring: 4 81.2% 45.9%;

      --radius: 0.5rem;
    }
  }

  .dark {
    --background: 4 10% 10%;
    --foreground: 4 0% 100%;

    --card: 4 0% 10%;
    --card-foreground: 4 0% 100%;

    --popover: 4 10% 5%;
    --popover-foreground: 4 0% 100%;

    --primary: 4 81.2% 45.9%;
    --primary-foreground: 0 0% 100%;

    --secondary: 4 10% 20%;
    --secondary-foreground: 0 0% 100%;

    --muted: -34 10% 25%;
    --muted-foreground: 4 0% 65%;

    --accent: -34 10% 25%;
    --accent-foreground: 4 0% 95%;

    --destructive: 0 50% 50%;
    --destructive-foreground: 4 0% 100%;

    --border: 4 20% 50%;
    --input: 4 20% 50%;
    --ring: 4 81.2% 45.9%;
  }
}

@layer base {
  * {
    @apply border-border font-serif;
  }
  body {
    @apply min-h-screen text-foreground;
  }

  h1,
  h2 {
    @apply font-bold font-sans;
  }

  h1 {
    @apply text-5xl text-center uppercase font-sans;
  }

  h2 {
    @apply text-3xl;
  }
}
